{% extends 'layout.html' %}

{% block title %}Регистрация - Аккаунты{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  {% load static %}
<form method="post" action="{% url 'accounts:register' %}">
  {% csrf_token %}
  <h1 class="text-center">
    Регистрация
  </h1>
  <div class="mb-3">
    <label for="username" class="form-label">
      Имя пользователя
    </label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя" aria-describedby="usernameHelp" required autofocus>
    <ul class="usernameHelp">
      <li class="form-text">Должно быть уникальным</li>
    </ul>
  </div>
  <div class="row mb-3">
    <div class="col-xs-12 col-sm-6">
      <label for="firstname" class="form-label">
        Имя
      </label>
      <input type="text" id="firstname" class="form-control" placeholder="Имя" name="firstname" required>
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="lastname" class="form-label">
        Фамилия
      </label>
      <input type="text" id="lastname" class="form-control" placeholder="Фамилия (необязательно)" name="lastname">
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">
      Email
    </label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">
      Пароль
    </label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Пароль" aria-describedby="passwordHelp" required>
    <ul class="passwordHelp">
      <li class="form-text">*Минимальная длина должна быть 6</li>
      <li class="form-text">*Требуется одна цифра</li>
      <li class="form-text">*Требуется один специальный символ</li>
    </ul>
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">
      Подтвердите пароль
    </label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Подтвердите пароль" required>
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" value="" id="agreeCheckbox" required>
    <label class="form-check-label" for="invalidCheck">
      Agree to <a class="text-decoration-none" data-bs-toggle="modal">
        terms and conditions
      </a> 
    </label>
  </div>
  <button type="submit" class="btn btn-success w-100">Регистрация</button>
  <div class="mt-3">
    <p>Already have account? <a href="{% url 'accounts:login' %}" class="text-decoration-none">Вход</a></p>
  </div>
</form>
</div>
<script src="{% static 'js/accounts/register.js' %}"></script>
{% endblock %}
